# Ignore all .txt files except requirements.txt
*.txt
!requirements.txt

# Ignore all notebooks
*.ipynb

# Ignore .csv
mpst_full_data.csv
mpst_processed_data.csv

# Ignore some folders
Rasa/
.ipynb_checkpoints/
__pycache__/
flagged/